include *.txt
include *.rst
include *.md
exclude *.cfg
recursive-include doc *
recursive-include example *
recursive-include scripts *
global-exclude *.pyc
prune dist
prune build
recursive-exclude debian *
