Source: d-fuzz
Section: sound
Priority: optional
Maintainer: Guillaume Pellerin <yomguy@altern.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), debhelper (>= 5)
Standards-Version: 3.7.2

Package: d-fuzz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python client to stream audio over icecast
 Coming soon !
